div#resources-main {
  /* background-image: url('../../images/stardust.png'); */
  background-image: url('../../images/sos.png');
  min-height: 600px;
  margin-top: 7.5%;
  margin-bottom: 5%;
}

.res-header {
  color: rgb(90,90,90);
  font-family: "Bangers";
  margin-left: 3%;
}

#res-last-div {
  margin-bottom: 10%;
}

@media only screen and (max-width: 768px) {
  div#resources-main {
    margin-top: 60%;
  }
}