div#about-main {
  margin-top: 120px;
  /* background-image: url('../../images/stardust.png'); */
  /* background-image: url('../../images/foil.png');   */
  background-image: url('../../images/sos.png');
}

.headshot {
  width: 100%;
  height: auto;
  /* margin-bottom: 5rem; */
  /* border: 5px solid rgb(219, 219, 219); */
  /* border: 5px solid rgb(34, 34, 34); */
  
}

.p-header {
  font-size: 50px;
  letter-spacing: 0.3rem;
  font-family: "Bangers";
  /* color: rgb(182, 207, 208); */
  /* color: rgb(224, 60, 49); */
  color: #fff;
}

.p-bio {
  /* color: rgb(219, 219, 219); */
  color: rgb(90,90,90);
  background: rgb(182, 207, 208);
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  padding: 5%;
  /* border: 5px solid rgb(34, 34, 34); */
  /* background-image: url('../../images/sos.png'); */
}

.individual {
  margin-bottom: 30px;
}