div#about-main {
  background-image: url('../../images/stardust.png');
}

.p-a {
  color: rgb(90, 90, 90);
  font-family: 'Oswald', sans-serif;
  margin: 3%;
  line-height: 1.5;
  font-size: 2rem;
  padding: 3% 3% 3% 3%;
}

li {
  /* color: #FFF; */
}

/* #facts, #included, li {
  background-color: rgb(0, 125, 138);
  color: #fff;
  border-radius: 14px;
} */

.p-header {
  font-size: 60px;
  color: rgb(182, 207, 208);
}

#cdc {
  color: rgb(182, 207, 208);
  font-size: 12px;
  text-align: right;
}

#bottom-line {
  color: rgb(224, 60, 49);
  font-size: 30px;
}

p {
  color: rgb(90, 90, 90);
}