div.container-fluid {
  background-image: url('../../images/sos.png');
}

div#about-main {
  /* margin-top: 120px; */
  margin-bottom: 5%;
  background-image: url('../../images/sos.png');
}

.headshot {
  width: 100%;
  height: auto;
}

.p-header {
  font-size: 50px;
  letter-spacing: 0.3rem;
  font-family: "Bangers";
  color: #fff;
}

.p-bio {
  color: rgb(90,90,90);
  background: rgb(182, 207, 208);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  padding: 5%;
}

.individual {
  margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {
  .p-header {
    line-height: 1.0;
  }
}