div#items-main {
  background-image: url('../../images/sos.png');
  /* margin-top: 60px; */
  margin-bottom: 5%;
}

#kit-title {
  font-size: 1.5rem;
  font-family: 'MyWebFont';
}

div#items-div {
  min-height: 500px;
}

#coming-soon {
    font-family: 'Open Sans', cursive;
    color: rgb (90, 90, 90);
    text-align: center;
    padding-top: 15px;
}

@media only screen and (max-width: 768px) {
  div#items-main {
    /* margin-top: 60%; */
  }
}