* {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  font-size: 2rem;
}

div#home-main {
  background-image: url('../../images/sos.png');
  /* margin-top: 120px; */
  margin-bottom: 5%;
}

#header {
  line-height: 3;
  font-family: 'MyWebFont', Fallback, sans-serif;
  margin-bottom: 2%;
  max-width: 100%;
}

.bang {
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-size: 20px;
}

.bang2 {
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-size: 2.25rem;
}

#super {
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-size: 2em;
}

#three-mamas {
  /* background-image: url('../../images/stardust.png'); */
  color: rgb(199, 199, 199);  
  width: 100%;
}

#three-mamas-text {
  max-width: 66%;
  margin: auto;
  /* color: rgb(199, 199, 199); */
  color: rgb(90, 90, 90);
  /* background-image: url('../../images/stardust.png'); */
  padding: 3%;
}

#sup-main {
  /* width: 80%; */
  margin: 5% 5% 0 5%;
}

.superhero-div {
  /* background: rgb(0, 178, 169); */
  /* background: rgb(0, 125, 138); */
  /* min-height: 100px; */
  background-image: url('../../images/sos.png');
  /* max-width: 50%; */
  text-align: center;
  /* padding-top: 3%;
  margin-bottom: 3%; */
  border: 3px solid rgb (199, 199, 199);
  
}

.superhero-p {
  /* color: #fff; */
  color: rgb(90,90,90);
  /* color: rgb(199, 199, 199); */
  /* margin-bottom: 3%; */
  padding-left: 3em;
  padding-right: 3em;
  /* background-image: url('../../images/stardust.png'); */
  /* border: 3px solid rgb (199,199,199); */
}

#kit-div {
  margin-top: 3%;
  margin-bottom: 6%;
  background: url('../../images/stardust.png');
}

.kit-p {
  color: rgb(199, 199, 199);
  margin: 5%;
}

#item1 {
  /* background: rgb(0, 178, 169); */
  /* background: rgb(153, 242, 250); */
  background: rgb(182, 207, 208);
  border: 5px solid rgb(54, 54, 54);
  color: rgb(199, 199, 199);

}

#item2 {
  /* background: rgb(182, 207, 208); */
  /* background: rgb(224, 60, 49); */
  border-top: 3px solid rgb(54, 54, 54);
  border-bottom: 3px solid rgb(54, 54, 54);
  /* border-right: 3px solid rgb(54, 54, 54); */
  color: rgb(90,90,90);
  /* color: #fff; */
  
}

#item3 {
  background: rgb(0, 125, 138);
  /* background: rgb(182, 207, 208); */
  border: 5px solid rgb(54, 54, 54);
  color: rgb(199, 199, 199);
}

#item4 {
  background: rgb(0, 48, 87);
  /* background: rgb(182, 207, 208); */
  border-top: 5px solid rgb(54, 54, 54);
  border-bottom: 5px solid rgb(54, 54, 54);
  color: rgb(199, 199, 199);
}

li {
  margin-bottom: 5px;
  color: rgb(90, 90, 90);
}

h1, h3, #header, #super {
  /* color: rgb(90, 90, 90); */
  /* color: rgb(182, 207, 208); */
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 4rem;
}

#header, #super {
  font-size: 50px;
  line-height: 4rem;  
}

span {
  line-height: 4rem;
}

#top {
  text-align: center;
  background-color: rgb(0, 178, 169);
  width: 100%;
  padding: 40px;
}

#top-text {
  width: 40%;
}

#buttondiv {
  text-align: center;
}

.p-a {
  color: rgb(90, 90, 90);
  /* font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-size: 2rem; */
  padding: 3%;
}

#end {
  margin-top: 3%;
  margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {
  div#home-main {
    /* margin-top: 60%; */
  }
}