* {
    font-family: 'Oswald',
    sans-serif;
    line-height: 1.5;
    font-size: 2rem;
}

div#home-main {
  /* background-image: url('../../images/stardust.png'); */
  background-image: url('../../images/sos.png');
  margin-top: 100px;
}

#three-mamas {
  background-image: url('../../images/stardust.png');
  color: rgb(199, 199, 199);  
}

#three-mamas-text {
  max-width: 66%;
  margin: auto;
  color: rgb(199, 199, 199);
  
}

#whatsinthere {
  /* border: 5px solid rgb(90,90,90); */
  padding: 20px;
}

#included {
  /* border: 5px solid rgb(90, 90, 90); */
  background-color: rgb(0, 125, 138);
  color: rgb(199, 199, 199);
  padding-bottom: 15px;
}

li {
  margin-bottom: 5px;
}

h1, h3, #header, #super {
  /* color: rgb(90, 90, 90); */
  /* color: rgb(182, 207, 208); */
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 4rem;
}

#header, #super {
  font-size: 60px;
  line-height: 4rem;  
}

span {
  line-height: 4rem;
}

#top {
  text-align: center;
  background-color: rgb(0, 178, 169);
  width: 100%;
  padding: 40px;
}

#top-text {
  width: 40%;
}

#buttondiv {
  text-align: center;
}

.p-a {
  /* color: rgb(90, 90, 90);
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-size: 2rem; */
  padding: 5%;
}

#facts {
  color: rgb(90, 90, 90);  
}