.app-main {
  border-bottom: 2px solid rgb(136, 136, 136);
  box-shadow: 2px 3px 1px 1px rgba(138, 138, 138, 0.3);
  position: static;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  /* min-height: 120px; */
  /* display: flex;
  align-content: center; */
  /* max-height: 150px; */
  /* height: auto; */
}

ul {
  /* margin-top: 3%;
  margin-bottom: 3%; */
  background: #fff;
  padding-top: 5%;
}

a {
  color: rgb(90,90,90);
  font-size: 2rem;
  background-color: #fff;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'MyWebFont';
}

a:hover, #shop-cart:hover {
  color: rgb(224, 60, 49);
  text-decoration: none;
}

.nav-pills>li>a:hover {
  background-color: #fff;
}

div#logo-div, div#nav-div {
  height: 100%;
}

div.nav-item {
  /* margin-top: 3%;
  margin-bottom: 3%; */
  min-width: 50px;
  background: #fff;
}

@media only screen and (max-width: 991px) {
  #logo-link {
    display: flex;
    justify-content: center;
  }
  #lmcLogo {
    width: 80%;
    height: 80%;
  }
  ul {
    padding-top: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .nav>li>a {
    padding: 0;
  }
  .nav-justified>li {
    float: left;
    width: 33%;
  }
}

@media only screen and (max-width: 480px) {
  .nav-justified>li {
    float: left;
    width: 32%;
  }
  .nav-justified>li>a {
    font-size: 1.5rem;
  }
}