.app-main {
  border-bottom: 2px solid rgb(136, 136, 136);
  box-shadow: 2px 3px 1px 1px rgba(138, 138, 138, 0.3);
  position: static;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  min-height: 120px;
  /* max-height: 150px; */
  /* height: auto; */
}

ul {
  margin-top: 4%;
  background: #fff;
}

a {
  color: rgb(90,90,90);
  font-size: 2rem;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

a:hover, #shop-cart:hover {
  color: rgb(224, 60, 49);
  text-decoration: none;
}

.nav-pills>li>a:hover {
  background-color: #fff;
}

div.nav-item {
  margin-top: 3%;
  min-width: 50px;
  background: #fff;
}

#nav-div {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .nav>li>a {
    padding: 0;
  }
}