.muidocs-icon-navigation-expand-more {
  margin-top: 10%;
  background-color: orange;
}

/* div.button {
  color: orange;
} */

ul {
  /* text-decoration: none; */
  list-style: none;
  margin-top: 15px;
}

a {
  font-size: 2.5rem;
}

a:hover {
  color: rgb(0, 125, 138);
  text-decoration: none;
}