footer {
  background-color: rgb(182, 207, 208);
  height: 10%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  /* margin-top: -15%; */
  padding: 30px;
  margin-left: 0px;
  margin-top: 125px;
  margin-right: 0px;
  /* border-top: 1px solid rgb(0, 125, 138); */
}

.foot-cont {
  color: rgb(90, 90, 90);
  text-align: center;
  font-family: 'Fjalla One', cursive;
}