footer {
  /* background-color: rgb(182, 207, 208); */
  height: 10%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  /* margin-top: -15%; */
  padding: 30px;
  margin-left: 0px;
  /* margin-top: 30px; */
  margin-right: 0px;
  border-top: 0.5px solid rgb(136,136,136);
  box-shadow: 0px -1px 2px 1px rgba(138, 138, 138, 0.3);
}

.foot-cont {
  color: rgb(90, 90, 90);
  /* text-align: center; */
  font-family: 'Fjalla One', cursive;
  font-size: 12px;
}

.mailing {
  padding-bottom: 30px;
  margin: auto;
}