footer {
  background-color: #fff;
  height: 10%;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 2px solid rgb(136,136,136);
  box-shadow: 2px -1px 1px 1px rgba(138, 138, 138, 0.3);
  color: rgb(199, 199, 199);
}

.foot-cont {
  /* color: rgb(90, 90, 90); */
  /* color: rgb(182, 207, 208);   */
  font-family: 'Open Sans', cursive;
  font-size: 14px;
  margin: 3%;
}

.social-icon {
  padding: 3%;
  /* background: rgb(56, 56, 56); */
  /* filter: grayscale(50%); */
  fill: orange;
  /* display: block; */
  margin-top: 3%;
}

#mailing {
  margin-bottom: 3%;
}

button#mc-embedded-subscribe {
  margin-top: 3%;
}

#footer-links>a {
  text-align: center;
}

input#undefined, span {
  /* color: rgb(199, 199, 199); */
  font-family: 'Open Sans',
  cursive;
  
  /* padding-bottom: 5px;  */
}